<!DOCTYPE html>
<html>
  <head>
    <title>HOME PAGE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        img {
          border-radius: 50%;
        }
    </style>
  </head>
    
  <body>
          <table>
        <tr>
            <% if user_signed_in? %>
            <td>Welcome,
            <%= image_tag(current_user.avatar, style: '
                width:25px;height:25px;
                img {
                  border: 1px solid #ddd;
                  border-radius: 4px;
                  padding: 5px;
                  width: 150px;
                };
                img:hover {
                  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                };
                img {
                  border-radius: 50%;
                }') %>
            <a href="/users/show.html"><%= current_user.email %></a></td>
            <td><%= button_to "Log Out", destroy_user_session_path, method: :delete  %></td>
            <% else %>
            <td>
                <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
                <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
            </td>
            <% end %>
        </tr>
    </table>
     <h1><a href="/">HOME PAGE</a></h1>
          <%= yield %>
  </body>
</html>
