<!DOCTYPE html>
<html>
  <head>
    <title>HOME PAGE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <body>
          <table>
        <tr>
            <% if user_signed_in? %>
            <td>Welcome, <a href="/users/show.html"><%= current_user.email %></a></td>
            <td><%= button_to "Log Out", destroy_user_session_path, method: :delete  %></td>
            <% else %>
            <td>
                <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
                <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
            </td>
            <% end %>
        </tr>
    </table>
     <h1><a href="/">HOME PAGE</a></h1>
          <%= yield %>
  </body>
</html>
